<h1>Application #<%= @application.id %></h1>
<h2>Application Details:</h2>

<ul class="no-bullet">
  <li>Name: <%= @application.name %></li>
  <li>Address: <%= @application.full_address %></li>
  <li>Application Status: <%= @application.status %></li>
  <li>Pet(s) wishing to adopt:</li>
    <ul>
      <% @application.pets.each do |pet| %>
        <li id="pet-<%= pet.id %>"><%= link_to pet.name, pet_path(pet) %></li>
      <% end %>
    </ul>
</ul>

<% if @application[:status] == 'In Progress' %>
  <h3>Add a Pet to this Application:</h3>
  <%= render partial: 'shared/search', locals: {
                                                sel_path: application_path,
                                                search_label: 'Pet name:',
                                                button_text: 'Search'
                                               } %>
  <% if @pets.present? %>
    <% @pets.each do |pet| %> 
      <h4><%= pet.name %></h4>  
    <% end %>                                 
  <% end %>
<% end %>
<h3>Application Adoption Request Description:</h3>
<p><%= @application.description %></p>