<h1>All pets</h1>
<%= render partial: 'shared/search', locals: {
                                              sel_path: pets_path,
                                              search_label: 'Pet name:',
                                              button_text: 'Search'
                                             } %>                

<%= link_to 'Start an Application', new_application_path %>
<% @pets.each do |pet| %>
  <h3><%= pet.name %></h3>
  <p>Age: <%= pet.age %></p>
  <p>Breed: <%= pet.breed %></p>
  <p>Adoptable: </p>
  <p>You can find <%= pet.name %> at <%= pet.shelter_name %>!</p>
  <%= link_to "Edit #{pet.name}", edit_pet_path(pet) %>
  <%= link_to "Delete #{pet.name}", pet_path(pet), method: :delete %>
<% end %>
